# Ignore everything by default
/*

# Allow the plugin folder and .gitignore
!/plugin/
/plugin/docs/
!.gitignore
!/README.md

# --- Completely ignore Samples (internal testing project) ---
/plugin/Samples~/

# --- Unity General patterns ---
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/

# IDE & OS
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.userprefs
*.user
.DS_Store
[Tt]humbs.db
